@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

:root {
  --prim: #ff014f;
  --body: #060606;
  --gray-pere: #9f9f9f;
  --white: #fff;
  --black: #000;
  --gradient-box: linear-gradient(
    0deg,
    rgba(255, 1, 79, 0) 15.49%,
    #ff014f 100%
  );

  --font-metaMania: "Metal Mania", sans-serif;
  --rajdhani: "rajdhani", sans-serif;
  --rubik: "rubik", sans-serif;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

* {
  scroll-behavior: smooth;
}

.MetalMania {
  font-family: var(--font-metaMania);
}
.Rajdhani {
  font-family: var(--rajdhani);
}

.Rubik {
  font-family: var(--rubik);
}

body {
  background-color: var(--body);
  color: var(--white);
}

/* Navbar */
.nav-icon i,
.hero-header-social-icon i {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.nav-icon i::after,
.hero-header-social-icon i::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  border-radius: 50%;
  background-color: var(--prim);
  transition: var(--transition-regular);
  z-index: -1;
}

.nav-icon i:hover::after,
.hero-header-social-icon i:hover::after {
  width: 100%;
  height: 100%;
}

/* Hero Header */

.hero-header {
  width: 100%;
  height: 100vh;
  background: url(../public/photo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
}

.hero-content {
  width: 100%;
  margin: 0 auto;
}

.hero-header-social-icon {
  position: absolute;
  bottom: 20%;
  left: 3%;
}

/* Hero Header MQ Section */

@media (max-width: 600px) {
  .hero-header-social-icon {
    position: relative;
    flex-direction: row;
    bottom: 0;
    left: 0;
    padding-top: 10px;
  }

  .hero-header-social-icon i {
    transition: var(--transition-regular);
    border: 1px solid rgba(131, 131, 131, 0.5);
  }

  .hero-header-social-icon i:hover {
    border-color: var(--prim);
  }
}

/* About Portfolio */

.about-left-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-left-content:after {
  content: "";
  position: absolute;
  bottom: -5%;
  left: 0;
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background: var(--gradient-box);
  z-index: -1;
}

.about-left-info {
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}

.about-left-info2 {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 15px;
}

.about-left-info2 i {
  width: 80px;
  height: 80px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(131, 131, 131, 0.5);
  color: var(--prim);
  border-radius: 100px;
}

.about-card {
  border: 1px solid rgba(131, 131, 131, 0.5);
  cursor: pointer;
}
.about-card:hover {
  border-color: #ff014d7a;
}

/* BTN */
.btn1 {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  overflow: hidden;
  cursor: pointer;
}
.btn1 i {
  font-size: 20px;
  transition: all 0.4s ease;
}
.btn1 .left-icon {
  opacity: 0;
  transform: translateX(-10px);
}
.btn1 .right-icon {
  opacity: 1;
  transform: translateX(0);
}
.btn1 .btn-text {
  display: inline-block;
  transition: transform 0.4s ease;
}
.btn1:hover .right-icon {
  opacity: 0;
  transform: translateX(10px);
}
.btn1:hover .left-icon {
  opacity: 1;
  transform: translateX(15px);
}
.btn1:hover .btn-text {
  transform: translateX(10px);
}

/* About MQ Section */

@media (max-width: 991px) {
  .about-left-content:after {
    left: 30%;
  }
  .infotext:before {
    opacity: 0.5;
  }
}

@media (max-width: 600px) {
  .infotext:after,
  .infotext:before {
    width: 100%;
  }
  .about-left-content:after {
    left: 10%;
  }
}
